---
import Raffle from "../../components/Raffle.astro";
import AnimatedOnViewportEnter from "../../components/utils/AnimatedOnViewportEnter.astro";
import { DATA } from "../../data/data";
import Layout from "../../layouts/Layout.astro";

export const prerender = true;
---

<Layout
  title="Sorteos"
  description="¡Bienvenido a BiznagaFest, la fiesta tecnológica que estabas esperando! Participa en nuestros sorteos y gana libros de programación, un Kindle de Amazon, cascos de alta calidad y un Firestick. Un evento imperdible para amantes de la tecnología. ¡Súmate a la diversión en BiznagaFest!"
  lang="es"
>
  <main>
    <section id="draws">
      <div
        class="bg-blue-50 dark:bg-blue-900 text-dark-background dark:text-light-background"
      >
        <div class="wrapper py-20 gap-16 px-6">
          <AnimatedOnViewportEnter
            animation="animate__animated animate__fadeInLeft"
          >
            <h2 class="text-3xl font-bold text-center md:text-left">Sorteos</h2>
          </AnimatedOnViewportEnter>
        </div>
      </div>

      <div class="py-20 flex flex-col gap-10">
        {
          DATA.raffles.map((raffle, key) => {
            let isEven = key % 2 === 0;

            return <Raffle raffle={raffle} isEven={isEven} />;
          })
        }
      </div>
    </section>
  </main>
</Layout>
