---
import type { ScheduleEvent } from "../data/data.type";

interface Props {
  event: ScheduleEvent;
}

const { event } = Astro.props;
---

<div class="flex bg-red-50 dark:bg-red-400 rounded-2xl py-6 px-6 gap-10 mb-4">
  <div class="flex flex-col justify-center w-10">
    <span class="text-sm text-blue-600 font-bold">{event.time_start}</span>
    <span class="text-sm text-blue-600 font-bold">{event.time_end}</span>
  </div>
  <div class="flex flex-col">
    <h4 class="text-xl font-bold">{event.title}</h4>
    <h4 class="font-light">{event.subtitle}</h4>
  </div>
</div>
