---
import { DATA } from "../data/data";
---

<footer
  class="flex flex-col-reverse lg:grid lg:grid-cols-[1fr_3fr] gap-10 bg-green-50 dark:bg-blue-900 text-dark-background dark:text-light-background p-10 text-center"
>
  <div class="grid grid-cols-1 place-content-center">
    <div class="w-full max-w-[250px] md:max-w-[300px] mx-auto">
      <a href="/#top" class="h-10">
        <img
          src="/logo.svg"
          alt=`Logo of Biznagafest`
          class="brightness-100 dark:invert"
        />
      </a>
    </div>
    <span class="font-thin text-sm">&copy; {DATA.title}</span>
  </div>
  <div
    class="flex flex-row flex-wrap gap-6 align-middle justify-center md:justify-end px-2 md:px-40 w-full text-center"
  >
    {
      DATA.footerLinks.map((link) => (
        <a
          class="grid grid-cols-1 place-content-center font-semibold"
          href={link.href}
        >
          {link.title}
        </a>
      ))
    }
  </div>
</footer>
