---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<head>
  <meta charset="ISO-8859-1" />
  <meta name="description" content={description} />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <!-- Animate.css CDN -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <!-- Font Awesome CDN -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <style is:global>
    @font-face {
      font-family: "Manrope";
      src: url("/fonts/Manrope/Manrope-VariableFont_wght.ttf")
        format("truetype");
    }

    * {
      box-sizing: border-box;
      font-family: "Manrope";
    }

    .activeRoute {
      @apply text-green-400 dark:text-blue-400;
    }

    .container {
      @apply md:w-8/12 md:mx-auto py-10 md:py-20;
    }
  </style>
</head>
