---
import type { Raffle } from "../data/data.type";
interface Props {
  raffle: Raffle;
  isEven: boolean;
}

const { raffle, isEven } = Astro.props;
---

<article
  class:list={{
    "bg-yellow-100 dark:bg-green-900 text-dark-background dark:text-white":
      isEven,
  }}
>
  <div
    class="wrapper flex-col flex gap-8 sm:gap-4"
    class:list={{
      "sm:flex-row": !isEven,
      "sm:flex-row-reverse": isEven,
    }}
  >
    <div class="flex justify-center sm:w-1/2 bg-green-50 aspect-square">
      <img
        class="w-full aspect-square object-contain"
        src={raffle.url}
        alt="Raffle image"
      />
    </div>
    <div class="flex flex-col sm:justify-center sm:w-1/2 px-4 gap-4">
      {
        raffle.descriptionInParagraphs.map((description) => (
          <p>{description}</p>
        ))
      }
    </div>
  </div>
</article>
