---
import type { TeamMember } from "../data/data.type";
interface Props {
  member: TeamMember;
  index: number;
}

const { member, index } = Astro.props;
---

<a href={`/organizer/${index}`} class="w-full max-w-[300px] aspect-square">
  <span class="flex flex-col align-middle justify-center">
    <img
      loading="lazy"
      class="object-cover h-full"
      src={member.picture}
      alt={`Picture of ${member.name}`}
    />
    <h4
      class="w-full text-2xl font-semibold text-center text-dark-background dark:text-light-background p-2"
    >
      {member.name}
    </h4>
  </span>
</a>
