---
import type { TeamMember } from "../data/data.type";
interface Props {
  member: TeamMember;
  index: number;
}

const { member, index } = Astro.props;
---

<a href={`/organizer/${index}`} class="w-full max-w-[300px] aspect-square">
  <span class={`relative flex flex-col h-full w-full`}>
    <img
      loading="lazy"
      class="object-cover h-full"
      src={member.picture}
      alt={`Picture of ${member.name}`}
    />
    <h4
      class="absolute bottom-0 left-0 w-full text-2xl font-semibold text-center bg-light-background dark:bg-dark-background text-dark-background dark:text-light-background p-2 bg-opacity-50 dark:bg-opacity-50"
    >
      {member.name}
    </h4>
  </span>
</a>
