---
import Draw from "../../components/Draw.astro";
import AnimatedOnViewportEnter from "../../components/utils/AnimatedOnViewportEnter.astro";
import { DATA } from "../../data/data";
import Layout from "../../layouts/Layout.astro";

---

<Layout title={"Sorteos"} description={""} lang="es">
    <main>
        <section id="draws">
            <div class="bg-blue-50 dark:bg-blue-900 text-dark-background dark:text-light-background">
                <div class="wrapper py-20 gap-16 px-6">
                    <AnimatedOnViewportEnter
                        animation="animate__animated animate__fadeInLeft"
                    >
                        <h2 class="text-3xl font-bold text-center md:text-left">
                            Sorteos
                        </h2>
                    </AnimatedOnViewportEnter>
                </div>
            </div>

            <div class="py-20">
                {
                    DATA.draws.map( (draw, key) => {
                        let reverse = key % 2 === 0;

                        return (
                            <Draw draw={draw} reverse={reverse} />
                        )
                    })
                }
            </div>
        </section>
    </main>
</Layout>
